<h3><%= current_user.name%></h3>

<%= link_to "Your Book List", user_books_path(current_user.id) %>
<%= link_to "Add New Book", new_book_path %>
<%= link_to "Reviews", reviews_path %>
<%= link_to "Add New Review", new_user_review_path(current_user.id) %>