<%= provide(:title, "All Reviews") %>

<% if !params[:book].blank? %>
  <% @reviews = Review.where(book: params[:book]) %>
<% end %>

<h1>All Reviews</h1>

<div>
  <h2>Search Reviews</h2>
  <%= form_tag("/reviews", method: "get") do %>
    <%= select_tag "book", options_from_collection_for_select(Book.all, "id", "title"), include_blank: true %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<br>

<% @reviews.each do |review| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
      </section>
    </div>
    <div class="col-md-8 well">

      <h4>Review of: <%= link_to review.book.title, review_path(review) %></h4>
      <h5>By: <%= link_to review.user.name, '#' %></h5>

      <p><span class="quiet"><small>Created <%= time_ago_in_words(review.created_at)%>
        ago</small></span></p>
    </div>
  </div>
<% end %>
<br>